<meta charset="utf-8" />
<title>@ViewBag.title | Aapka Policy Wala</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Aapka Policy Wala" name="description" />
<meta content="Aapka Policy Wala" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">