@* @using ApwPayrollWebApp.Models
@model EmployeeCreateViewModel
@{
    ViewData["Title"] = "EmployeeReference";
    Layout = "~/Views/Shared/Registration/_RegistrationLayout.cshtml";
}


<div class="tab-content">
    <div class="tab-pane active" id="references" role="tabpanel">
        <form method="post">
            <div class="row mb-2">
                <div class="col-lg-4">
                    <label asp-for="ReferencesCommand.ReferenceName" class="form-label">Reference Name</label>
                    <div class=" input-group">
                        <input asp-for="ReferencesCommand.ReferenceName" type="text" class="form-control" placeholder="Enter reference name" />
                    </div>
                    <span asp-validation-for="ReferencesCommand.ReferenceName" class="text-danger"></span>
                </div>
                <div class="col-lg-4">
                    <label asp-for="ReferencesCommand.Designation" class="form-label">Designation</label>
                    <div class="input-group">
                        <input asp-for="ReferencesCommand.Designation" type="text" class="form-control" placeholder="Enter designation" />
                    </div>
                    <span asp-validation-for="ReferencesCommand.Designation" class="text-danger"></span>
                </div>
                <div class="col-lg-4">
                    <label asp-for ="ReferencesCommand.OrganizationName" class=" input-group">Organization Name</label>
                    <div class="input-group">
                        <input asp-for="ReferencesCommand.OrganizationName" type="text" class="form-control" placeholder="Enter organization name" />
                    </div>
                    <span asp-validation-for="ReferencesCommand.OrganizationName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4">
                    <label asp-for="ReferencesCommand.ContactNumber" class="form-label">Contact Number</label>
                    <div class="input-group">
                        <input asp-for="ReferencesCommand.ContactNumber" type="text" class="form-control" placeholder="Enter contact number" />
                    </div>
                    <span asp-validation-for="ReferencesCommand.ContactNumber" class="text-danger"></span>
                </div>
                <div class="col-lg-4">
                    <label asp-for="ReferencesCommand.YearsOfAcquaintance" class="form-label">Years Of Acquaintance</label>
                    <div class="input-group">
                        <input asp-for="ReferencesCommand.YearsOfAcquaintance" type="text" class="form-control" placeholder="Enter years of acquaintance" />
                    </div>
                    <span asp-validation-for="ReferencesCommand.YearsOfAcquaintance" class=" text-danger"></span>
                </div>
            </div>
            <div class="row mt-1 mb-2">
                <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="reset" class="btn btn-outline-danger">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-secondary">
                            Save Details
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
  @section scripts {
        <!-- dropzone min -->
        <script src="~/assets/libs/dropzone/dropzone-min.js"></script>

        <!--crypto-kyc init-->
        <script src="~/assets/js/pages/crypto-kyc.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>

        <partial name="_ValidationScriptsPartial" />
       
       


    }
 *@